[submodule "source/libraries/geant4"]
	path = source/libraries/geant4
	url = git@github.com:megmev/geant4lib.git
[submodule "source/libraries/raw"]
	path = source/libraries/raw
	url = git@github.com:megmev/rawlib.git
[submodule "source/libraries/track"]
	path = source/libraries/track
	url = git@github.com:megmev/tracklib.git
[submodule "source/libraries/detector"]
	path = source/libraries/detector
	url = git@github.com:megmev/detectorlib.git
[submodule "source/libraries/connectors"]
	path = source/libraries/connectors
	url = git@github.com:megmev/connectorslib.git
[submodule "source/packages/restG4"]
	path = source/packages/restG4
	url = git@github.com:megmev/restG4.git
[submodule "scripts/batch-scripts"]
	path = scripts/batch-scripts
	url = https://github.com/rest-for-physics/batch-scripts.git
[submodule "doc/userguide"]
	path = doc/userguide
	url = https://github.com/rest-for-physics/rest-docs.github.io.git